@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-image: url('pozadí.png');
    background-size: cover;
    background-position: center;
}

#login-container,
#user-info-container {
    text-align: center;
    margin-top: 50px;
}

#scoreboard-container {
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
